@use '../lib/hub' as *;

body{
    font-family: $bodyFontStyle;
}

header{
    position: fixed;
    z-index: 2;
    .headerInnerBox{
        position: relative;
    }
}

section{
    article:nth-of-type(1){
        background-color: yellow;
    }
}