@use '../lib/hub' as *;
@use '../layout/gallerySection';

body{
    font-family: $bodyFontStyle;
}

header{
    position: fixed;
    z-index: 2;
    .headerInnerBox{
        position: relative;
    }
}

section{
    .innerbox{
        font-size: 20px;
        line-height: 2;
        color : map-get($colors, "wh");
        p::before{
            font-size: 30px;
            content: 'Programmer';
        }
        p::after{
            font-size: 30px;
            content : 'the Digital Nomad!';
        }
    }
}