:root{
    --semanticTagWidth : 100%;
    --innerBoxWidth : 1180px;
    --marginCenter : 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --font-family : sans-serif;

    font-family: var(--font-family);
}

header, section{
    width: var(--semanticTagWidth);

    .innerBox{
        width: var(--innerBoxWidth);
        margin: var(--marginCenter);
        position: relative;

        ul{
            position: absolute;
            list-style: none;
        }

        li{
            float: left;
        }

        a{
            color: black;
            text-decoration: none;

            &:hover{
                color: blue;
            }
        }
        h1{
            position: absolute;
        }
    }
}

header{
    position: fixed;
    z-index: 1;
    background-color: white;

    .innerBox{
        padding-top: 8%;

        ul{
            width: 50%;
        }

        li{
            text-align: right;
            width: calc(100% / var(--cnt));
        }

        h1{
            bottom: 10px;
            left: 10px;
        }

        .globalBar{
            --cnt : 5;

            right: 0px;
            bottom: 10px;
        }

        .menuBar{
            --cnt : 5;

            top: 20px;
            right: 0px;
            opacity: 50%;
        }

    }
}

article{
    position: relative;
    float: left;
}

section{
    padding-top: 10%;
    .innerBox{
        padding: 0px 90px;
        overflow: hidden;
        article{
            margin-top: 10px;

            p{
                position: absolute;
            }

            img{
                display: block;  
            }

            &[class]{
                color: white;
                font-size: 30px;
                font-weight: bold;
            }

            &.right{
                float: right;
            }

            &.p1{
                margin-right: 10px;
                p{
                    right: 10px;
                    bottom: 10px;
                }
            }

            &.p2 p{
                top: 50px;
                left: 10px;
            }

            &.p3 p{
                right: 10px;
                bottom: 20px;
            }

            &.p4 p{
                top: 160px;
                left: 90px;
                font-size: 16px;
                color: black;
            }

            &.p5 p{
                right: 20px;
                bottom: 30px;
                color: gold;
            }

            &.p6 p{
                top: 165px;
                left: 160px;
                font-size: 50px;
                text-shadow: black 1px 1px;
            }

            &.p7 p{
                right: 80px;
                bottom: 80px;
                line-height: 2.0;
                span{
                    font-size: 20px;
                }
            }

        }
    }
}