@use 'setting' as st;

$font-style: "Verdana", "Geneva", sans-serif;
$articlePositions:(
  1: (right: 10px, bottom: 20px),
  2: (top: 50px, left: 10px),
  3: (right: 10px, bottom: 20px),
  6: (top: 160px,left:90px),
  7: (right: 20px, bottom: 30px),
  8: (top:165px, left:160px),
);

body{
    font-family: $font-style;
}

%li_base{
    display: inline;
    a{
        text-decoration: none;
        @include st.colorSet(1,3,null);
        &:hover{
            @include st.colorSet(1,2,null);
        }
    }
}

@mixin articleSet($i){
    article:nth-of-type(#{$i}){
        float: left;
        position: relative;
        margin-top: 10px;

        @if $i == 1{
            margin-right: 10px;
        }
        @else if $i == 5{
            margin-left: 10px;
            float: right;
        }
    }
}

@each $key, $map in $articlePositions{
    article:nth-of-type(#{$key}) p{
        position: absolute;
        font-weight: bold;
        font-size: 30px;
        @include st.colorSet(1,1,null);
        @include st.positionSet(
            null,
            map-get($map, top),
            map-get($map, right),
            map-get($map, bottom),
            map-get($map, left)
        );
    }
}

header{
    @include st.boxSizeSet(3, 100%, null);
    border-bottom: 1px solid black;
    z-index: 2;

    .headerinnerbox{
        @include st.colorSet(2,1,null);
        @include st.boxSizeSet(1,1180px,120px);
        margin: 0 auto;
        h1{
            @include st.positionSet(2,null,null,15px,10px);
            font-weight: bold;
            font-size: 32px;
        }
        ul:nth-of-type(1){
            @include st.positionSet(2,null,0px,0px,null);
            padding-bottom: 15px;
            li{
                @extend %li_base;
                margin-right: 45px;
            }
        }
        ul:nth-of-type(2){
            @include st.positionSet(2,20px,30px,null,null);
            li{
                @extend %li_base;
                margin-right: 15px;
                opacity: 0.3;
            }
        }
    } 
}

section{
    padding-top: 120px;
    @include st.boxSizeSet(null,1000px,null);
    margin: 0 auto;
    @for $i from 1 through 9{
        @include articleSet($i);
        article:nth-of-type(#{$i}) p{
            @if $i==6{
                @include st.colorSet(1, 3, null);
                font-size: 16px;
                line-height: 1.3;
            }
            @if $i==7{
                @include st.colorSet(1, 4, null);
            }
            @if $i==8{
                font-size: 50px;
                text-shadow: 1px 1px black;
            }
        }
    }
    .innerbox{
        @include st.boxSizeSet(null,450px,150px);
        @include st.positionSet(2,null,30px,40px,null);
        font-size: 20px;
        @include st.colorSet(1,1,null);
        line-height: 2;
        p::before{
            font-size: 30px;
            content: 'Programmer';
        }
        p::after{
            font-size: 30px;
            content: 'the Digital Nomad!';
        }
    }
}
