@use 'setting' as st;

$font-style: "Verdana", "Geneva", sans-serif;
$innerBoxSize:(
    "headerclass":(
        "name" : headerinnerbox,
        "positionType" : relative,
        "width" : 1180px,
        "height" : 120px
    ),

    "mainclass":(
        "name" : maininnerbox,
        "positionType" : relative,
        "width" : 800px,
        "height" : 300px
    ),

    "footerclass":(
        "name" : footerinnerbox,
        "positionType" : relative,
        "width" : 1000px,
        "height" : 100px
    )
);

body{
    font-family: $font-style;
}

%li_base{
    display: inline;
    a{
        text-decoration: none;
        @include st.colorSet(1,3,null);
        &:hover{
            @include st.colorSet(1,2,null);
        }
    }
}

@each $key, $map in $innerBoxSize{
    $name: map-get($map, "name");
    $positionType: map-get($map, "positionType");
    $width: map-get($map, "width");
    $height: map-get($map, "height");

    .#{$name}{
        @include st.boxSizeSet(1,$width,$height);
        margin: 0 auto;
    }
}

header{
    @include st.boxSizeSet(null, 100%, null);
    border-bottom: 1px solid black;

    .headerinnerbox{
        @include st.colorSet(2,1,null);
        h1{
            @include st.positionSet(2,null,null,15px,10px);
            font-weight: bold;
            font-size: 32px;
        }
        ul:nth-of-type(1){
            @include st.positionSet(2,null,0px,0px,null);
            padding-bottom: 15px;
            li{
                @extend %li_base;
                margin-right: 45px;
            }
        }

        ul:nth-of-type(2){
            @include st.positionSet(2,20px,30px,null,null);
            li{
                @extend %li_base;
                margin-right: 15px;
                opacity: 0.3;
            }
        }
    } 
}

.mainImg{
    @include st.boxSizeSet(1,100%,590px);
    img{
        @include st.boxSizeSet(1,100%,590px);
        object-fit: cover;
    }
    .maininnerbox{
        font-size: 25px;
        h1{font-size: 80px;}
        @include st.positionSet(2,150px,0px,null,0px);
        @include st.colorSet(1,1,null);
        line-height: 1.3;
    }
}

section{
    @include st.boxSizeSet(null,1180px,450px);
    margin: 0 auto;
    overflow: hidden;

    h2{
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: bold;
        text-align: center;
    }

    article{
        @include st.boxSizeSet(null,230px,null);
        float: left;
        padding-left: 32.5px;
        padding-right: 32.5px;

        img{
            @include st.boxSizeSet(null,230px,163px);
        }

        h3{
            margin: 10px 0 10px 0;
            font-weight: bold;            
        }

        p{
            line-height: 1.3;
        }
    } 
}

footer{
    .footerinnerbox{
        h1{
            @include st.positionSet(2,null, null, 15px, 10px);
            font-weight: bold;
            font-size: 32px;
        }
        ul{
            @include st.positionSet(2,null, 20px, 15px, null);
            li{@extend %li_base}
        }
    } 

    #footer_info{
        @include st.boxSizeSet(null,1000px,null);
        padding: 10px 0 15px 15px;
        margin: 0 auto;
        line-height: 1.3;
        font-size: 12px;
    }
}
