<<<<<<< HEAD
body{
  font-family: Verdana, Geneva, sans-serif;
}

#header{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;

  }

  #header>.innerbox{
    width: 1180px;
    height: 120px;
    margin: 0 auto;
    position: relative;
  }
  
  #header>.innerbox>h1{
    position: absolute;
    left: 10px;
    bottom: 15px;
    font-size: 32px;
    font-weight: bold;
  }

  #header>.innerbox>#utilitybar{
    position: absolute;
    top: 20px;
    right: 30px;
  }

  

  #header>.innerbox>#utilitybar li{
    display: inline;
    margin-right: 15px;
    opacity: 0.3;
  }

  #header>.innerbox>#globalbar{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-bottom: 15px;
    
  }

  #header>.innerbox>#globalbar li{
    display: inline;
    margin-right: 45px;
  }

  #header a{
    text-decoration-line: none;
    color: black ;
  }

  #header a:hover{
    color: blue  ;
  }

  #mainimg{
    width: 100%;
    height: 590px;
    position: relative;
  }

  #mainimg>img{
    width: 100%;
    height: 590px;
    object-fit: cover;
  }

  #mainimg>.innerbox{
    width: 800px;
    height: 300px;
    font-size: 25px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 150px;
  }

  #mainimg>.innerbox>h1{
    font-size: 80px;
    color: white;
    font-weight: bold;
  }

  #mainimg>.innerbox>p{
    top: 100px;
    color: white;
    line-height: 1.3;
  }

  #section{
    width: 1180px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  #section>h2{
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    text-align: center;

  }
  
  #section>.article{
    width: 295px;
    float: left;
    text-align: center;
  }
  
  #section>.article>img{
    width: 230px;
    height: 163px;
  }
  
  #section>.article>h3{
    font-weight: bold;
    text-align: left;
    margin: 10px 32px 0px 32px;

  }
  
  #section>.article>p{
    margin: 10px 32px 0px 32px;
    text-align: left;
    line-height: 1.3;
  }
  
  #footer{
    width: 100%;
  }

  #footer>.innerbox{
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    position: relative;
  }

  #footer>.innerbox>h1{
    position: absolute;
    left: 10px;
    bottom: 15px;
    font-weight: bold;
    font-size: 32px;
  }

  #footer>.innerbox>ul{
    position: absolute;
    right: 20px;
    bottom: 15px;
  }

  #footer>.innerbox>ul li{
    display: inline;
    margin-right: 12px;
  }

  #footer>.innerbox>ul li a{
    text-decoration-line: none;
    color: black;
  }

  #footer>.innerbox>ul li a:hover{
    color: blue;
  }

  #footer>#footer_info{
    width: 1000px;
    padding-top: 10px;
    margin: 0 auto;
    padding-left: 15px;
    padding-bottom: 15px;
    line-height: 1.3;
    font-size: 12px;
  }
=======
body {
  font-family: Verdana, Geneva, sans-serif;
}

#header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
}
#header .innerbox {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
#header .innerbox h1 {
  position: absolute;
  left: 10px;
  bottom: 15px;
  font-size: 32px;
  font-weight: bold;
}

#utilitybar {
  position: absolute;
  top: 20px;
  right: 30px;
}
#utilitybar li {
  display: inline;
  margin-right: 15px;
  opacity: 0.3;
}

#globalbar {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 15px;
}
#globalbar li {
  display: inline;
  margin-right: 45px;
}

#header a {
  text-decoration: none;
  color: black;
}
#header a:hover {
  color: blue;
}

#mainimg {
  width: 100%;
  height: 590px;
  position: relative;
}
#mainimg img {
  width: 100%;
  height: 590px;
  -o-object-fit: cover;
     object-fit: cover;
}
#mainimg .innerbox {
  width: 800px;
  height: 300px;
  font-size: 25px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 150px;
}
#mainimg .innerbox h1 {
  font-size: 80px;
  color: white;
  font-weight: bold;
}
#mainimg .innerbox p {
  top: 100px;
  color: white;
  line-height: 1.3;
}

#section {
  width: 1180px;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
}
#section h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  text-align: center;
}
#section .article {
  width: 295px;
  float: left;
  text-align: center;
}
#section .article img {
  width: 230px;
  height: 163px;
}
#section .article h3 {
  font-weight: bold;
  text-align: left;
  margin: 10px 32px 0 32px;
}
#section .article p {
  margin: 10px 32px 0 32px;
  text-align: left;
  line-height: 1.3;
}

#footer {
  width: 100%;
}
#footer .innerbox {
  width: 1180px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
#footer .innerbox h1 {
  position: absolute;
  left: 10px;
  bottom: 15px;
  font-weight: bold;
  font-size: 32px;
}
#footer .innerbox ul {
  position: absolute;
  right: 20px;
  bottom: 15px;
}
#footer .innerbox ul li {
  display: inline;
  margin-right: 12px;
}
#footer .innerbox ul li a {
  text-decoration: none;
  color: black;
}
#footer .innerbox ul li a:hover {
  color: blue;
}
#footer #footer_info {
  width: 1000px;
  padding: 10px 0 15px 15px;
  margin: 0 auto;
  line-height: 1.3;
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */
>>>>>>> scss/main
