@use '../lib/hub' as *;

body{
    font-family: $font-family;
    font-size: map-get($font-sizeMap,"font-16");
}

%li-stlye{
    display: inline-block;
    @include margin(0);
    text-align: center;
}

%a-stlye{
    text-decoration: none;
    @include colorSet($options: (color : map-get($colorMap,"font-black")));
    &:hover{
        @include colorSet($options: (color : map-get($colorMap,"aHoverColor")));
    }
}

%h1-stlye{
    font-weight : bold;
}

header{
    @include boxSet($SemanticTag-wigth);
    @include colorSet($options: (background-color : map-get($colorMap,"headerLayoutColor")));
    @include positionSet(fixed);
    z-index: 2;

    .innerBox{
        @include boxSet($innerBox-wigth,$innerBox-height);
        @include margin($marginCenter);
        @include positionSet(relative);

        h1{
            @include positionSet(map-get($header-innerBoxClass,"h1-position")...);
            font-size : map-get($font-sizeMap, "font-32");
            @extend %h1-stlye;
        }
        .globalBar{
            @include boxSet($innerBox-wigth/2,$innerBox-height/4);
            @include positionSet(map-get($header-innerBoxClass,"globalBar-position")...);
            padding-right: $header-globolBar-liCnt * 4px;
            li{
                @extend %li-stlye;
                @include boxSet(calc(($innerBox-wigth/2)/$header-globolBar-liCnt) - $header-globolBar-liCnt);
                a{
                    @extend %a-stlye;
                }
            }
        }
        .menuBar{
            @include positionSet(map-get($header-innerBoxClass,"menuBar-position")...);
            @include boxSet($innerBox-wigth/3);
            li{
                @extend %li-stlye;
                @include boxSet(calc(($innerBox-wigth/3)/$header-menuBar-liCnt) - $header-menuBar-liCnt);
                @include colorSet($options: (opacity: $opacity));
            }
        }
    }    
}

section{
    @include boxSet($SemanticTag-wigth);
    .innerBox{
        @include boxSet($innerBox-wigth - $innerBox-sub);
        @include margin($marginCenter);
        @include padding($innerBox-height);

        $i: 1;
        @each $size in $gallery-articles-sizeList{
            $w: nth($size, 1);
            $h: nth($size, 2);
            
            article:nth-child(#{$i}) {
                @include boxSet($w, $h);
                @include margin($section-article-margin 0 0 0);
                @include positionSet(relative);
                float: left;
                background-image: url(nth($gallery-articles-imgList,$i));

                @if $i == 1{
                    @include margin($section-article-margin $section-article-margin 0 0);
                }

                @if $i == 5{
                    float : right;
                }
                @if $i == 9{
                    .innerbox{
                        @include boxSet($innerBox-wigth*2/5,$innerBox-height + $innerBox-height/4);
                        @include positionSet($section-article-innerbox-position...);
                        
                    }
                }
            }
            $i: $i + 1;
        }

        @each $index, $position-values in $gallery-articles-p-positionMap{
            article:nth-child(#{$index}) p{
                @include positionSet($position-values...);
                font-size: map-get($font-sizeMap,"font-32");
                @include colorSet($options: (color : map-get($colorMap,"font-white")));

                @if $index == 6{
                    font-size: map-get($font-sizeMap,"font-16");
                    @include colorSet($options: (color : map-get($colorMap,"font-black")));
                    line-height: $line-height;
                    @extend %h1-stlye;
                }

                @if $index == 7{
                    @include colorSet($options: (color : map-get($colorMap,"font-gold")));
                }

                @if $index == 8{
                    font-size: map-get($font-sizeMap,"font-50");
                    text-shadow: black 1px 1px;
                }

                @if $index == 9{
                    line-height: $line-height + 0.5;
                    font-size: map-get($font-sizeMap,"font-16");
                    span{
                        font-size: map-get($font-sizeMap,"font-32");
                    }
                }
            }
        }
    }
}