@use '../lib/hub' as *;

header{
    $backgroundColor : white;
    
    background-color: $backgroundColor;
    position: fixed;
    top : 0px;
    left : 0px;
    
    .innerBox{
        $globalCnt : 5;
        $menuCnt : 5;
        $cnt : $globalCnt, $menuCnt;

        li{
            text-align: right;
            @each $i in $cnt{
                width: 100% / $i;
            }
        }
        h1{
            bottom: 10px;
            left: 10px;
        }
        .globalBar{
            width: 50%;
            right: 0px;
            bottom: 10px;
        }
        .menuBar{
            width: 40%;
            top: 20px;
            right: 0px;
            opacity: 50%;
        }
    }
}

section{
    $padding : 10% 0px 0px 0px;
    @include paddingSet($padding);
    .innerBox{
        position: none;
        $padding: 0px 90px;
        @include paddingSet($padding);

        article{
            $margin : 10px 0px 0px 0px;
            $fontSize : 30px;
            $p-positionList : (
                (null 10px 10px null),
                (50px null null 10px),
                (null 10px 20px null),
                (160px null null 90px),
                (null 20px 30px null),
                (165px null null 160px),
                (null 80px 80px null)
            );
            $list-length: length($p-positionList);

            @include marginSet($margin);

            p{
                position: absolute;
                color: white;
                font-size: $fontSize;
                font-weight: bold;
            }

            img{
                display: block;  
            }

            &.right{
                float: right;
            }

            @for $i from 1 through $list-length{
                &.p#{$i} p{
                    $position-value: nth($p-positionList, $i);
                    @include positionSet($position-value...);
                }
            }

            &.p1{
                margin-right: 10px;
            }

            &.p4 p{
                $fontSize: 16px;
                font-size: $fontSize;
                color: black;
            }

            &.p5 p{
                color: gold;
            }

            &.p6 p{
                $fontSize: 50px;
                font-size: $fontSize;
                text-shadow: black 1px 1px;
            }

            &.p7 p{
                line-height: 2.0;
                span{
                    font-size: 20px;
                }
            }

        }
    }
}