@use '../lib/hub' as *;

header{
    .innerBox{
        $globalCnt : 5;
        $menuCnt : 5;
        $cnt : $globalCnt, $menuCnt;

        li{
            text-align: right;
            @each $i in $cnt{
                width: 100% / $i;
            }
        }
        h1{
            bottom: 10px;
            left: 10px;
        }
        .globalBar{
            width: 50%;
            right: 0px;
            bottom: 10px;
        }
        .menuBar{
            width: 40%;
            top: 20px;
            right: 0px;
            opacity: 50%;
        }
    }
}

main{
    background-image: url("../../Quest/bg_main.png");
    .innerBox{
        $fontColor : white;
        
        h2, p{
            color: $fontColor;
        }
        h2{
            padding-top: 10%;
            font-size: 80px;
        }
        p{
            font-size: 25px;
            padding-bottom: 10%;
        }
    }
}