@use '../lib/hub' as *;

header{
    .innerBox{
        $globalCnt : 5;
        $menuCnt : 5;
        $cnt : $globalCnt, $menuCnt;

        li{
            text-align: right;
            @each $i in $cnt{
                width: 100% / $i;
            }
        }
        h1{
            bottom: 10px;
            left: 10px;
        }
        .globalBar{
            width: 50%;
            right: 0px;
            bottom: 10px;
        }
        .menuBar{
            width: 40%;
            top: 20px;
            right: 0px;
            opacity: 50%;
        }
    }
}

main{
    background-image: url("../../Quest/bg_main.png");
    .innerBox{
        $fontColor : white;
        $fontSize : 25px;
        
        color: $fontColor;
        font-size: $fontSize;
        h2{
            $fontSize : 80px;
            font-size: $fontSize;
        }
        
    }
}

section{
    .innerBox{
        h3{
            $padding : 20px 0px;

            text-align: center;
            @include paddingSet($padding);
        }

        article{
            $cnt : 4;
            $articleImg : 230px;
            $width : $innerBoxWidth / $cnt;
            $padding : ($width - $articleImg ) / 2; 

            @include boxSizeSet($width);
            @include paddingSet(0px $padding);
        }
    }
}

footer{
    .innerBox{
        h1{
            top: 15px;
            left: 10px;
        }
        ul{
            top: 30px;
            right: 20px;
        }
        li{
            $margin : 0px 30px 0px 0px ;
            @include marginSet($margin);
        }
    }
}