@use '../lib/hub' as *;

body{
    font-family: $font-family;
    font-size: map-get($font-sizeMap,"font-16");
}

%li-stlye{
    display: inline-block;
    @include margin(0);
    text-align: center;
}

%a-stlye{
    text-decoration: none;
    @include colorSet($options: (color : map-get($colorMap,"font-black")));
    &:hover{
        @include colorSet($options: (color : map-get($colorMap,"aHoverColor")));
    }
}

%h1-stlye{
    font-weight : bold;
}

header{
    @include boxSet($SemanticTag-wigth);
    @include colorSet($options: (background-color : map-get($colorMap,"headerLayoutColor")));

    .innerBox{
        @include boxSet($innerBox-wigth,$innerBox-height);
        @include margin($marginCenter);
        @include positionSet(relative);

        h1{
            @include positionSet(map-get($header-innerBoxClass,"h1-position")...);
            font-size : map-get($font-sizeMap, "font-32");
            @extend %h1-stlye;
        }
        .globalBar{
            @include boxSet($innerBox-wigth/2,$innerBox-height/4);
            @include positionSet(map-get($header-innerBoxClass,"globalBar-position")...);
            padding-right: $header-globolBar-liCnt * 4px;
            li{
                @extend %li-stlye;
                @include boxSet(calc(($innerBox-wigth/2)/$header-globolBar-liCnt) - $header-globolBar-liCnt);
                a{
                    @extend %a-stlye;
                }
            }
        }
        .menuBar{
            @include positionSet(map-get($header-innerBoxClass,"menuBar-position")...);
            @include boxSet($innerBox-wigth/3);
            li{
                @extend %li-stlye;
                @include boxSet(calc(($innerBox-wigth/3)/$header-menuBar-liCnt) - $header-menuBar-liCnt);
                @include colorSet($options: (opacity: $opacity));
            }
        }
    }    
}

main{
    @include boxSet($SemanticTag-wigth, $innerBox-height*3 + 150px);
    background-image: url('../../Quest/bg_main.png');
    @include positionSet(relative);
    .innerBox{
        @include boxSet($innerBox-wigth - 380px,$innerBox-height*3 - 60px);
        @include margin($marginCenter);
        @include positionSet(map-get($main-innerBoxClass,"innerBox-position")...);
        @include colorSet($options: (color : map-get($colorMap,"font-white")));
        h1{
            font-size : map-get($font-sizeMap, "font-80");
            @extend %h1-stlye;
        }
        p{
            font-size : map-get($font-sizeMap, "font-25");
            line-height: $line-height;
        }
    }
}

section{
    @include boxSet($SemanticTag-wigth);
    .innerBox{
        @include boxSet($innerBox-wigth,$innerBox-height*4 - 30px);
        @include margin($marginCenter);
        @include positionSet(relative);

        h1{
            @include boxSet($innerBox-wigth,$innerBox-height/2);
            @extend %h1-stlye;
            text-align: center;
            line-height: $innerBox-height/2;
        }
        article{
            @include boxSet($innerBox-wigth/4);
            text-align: center;
            box-sizing: border-box;
            @include padding(0 ($innerBox-wigth/4 - 230)/2 0 ($innerBox-wigth/4 - 230)/2 );
        }
    }
}