@use '../base/variables' as *;
@use '../base/mixins' as *;

$footer-map: map-get($innerBoxSize,"footer");

footer{
    .#{map-get($footer-map, "name")}{
        width: map-get($footer-map, "width");
        height: map-get($footer-map, "height");
        margin: 0 auto;
    }
    
    #footerInfo{
        @include boxSizeSet(1000px,null);
        padding: 10px 0 15px 15px;
        margin: 0 auto;
    }
}
