@use '../base/variables' as *;
@use '../base/mixins' as *;

section{
    @include boxSizeSet(1000px,null);
    padding-top: 120px;
    margin: 0 auto;

    @for $i from 1 through length($images_gallery){
        @include articleSet($i);
    }
    @for $i from 1 through length($gallery_p_position){
        $data : nth($gallery_p_position,$i);
        @if nth($data,1) == 1{
            article:nth-of-type(#{$i}) p{
                @include absolutePosition(nth($data,2), nth($data,3), nth($data,4), nth($data,5));
                color: map-get($colors,"wh");
                font-weight: bold;
                font-size: 30px;

                @if $i == 6{
                    color : map-get($colors, "bl");
                    font-size: 16px;
                    line-height: 1.3;
                }
                @if $i == 7{
                    color : map-get($colors, "gold");
                }
                @if $i == 8{
                    font-size : 50px;
                    text-shadow: 1px 1px black;
                }
            }
        }
        .innerbox{
            @include boxSizeSet(450px,150px);
            @include absolutePosition(null,30px,40px,null);
        }

    }

}