@use '../base/variables' as *;
@use '../base/mixins' as *;

$header-map: map-get($innerBoxSize,"header");

header{
    @include boxSizeSet(100%,null);
    border-bottom: 1px solid black;

    .#{map-get($header-map, "name")} {
        width: map-get($header-map, "width");
        height: map-get($header-map, "height");
        background-color: map-get($map: $colors, $key: "wh");
        margin: 0 auto;

        h1{
            @include absolutePosition(null,null,15px,10px);
            font-weight: bold;
            font-size: 32px;
        }
        .headerGlobalBar{
            @include absolutePosition(null,0px,0px,null);
            padding-bottom: 15px;
            li{
                @include liStyle;
                margin-right: 45px;
            }
        }
        .headerMenuBar{
            @include absolutePosition(20px,30px,null,null);
            li{
                @include liStyle;
                margin-right: 15px;
                opacity: 0.3;
            }
        }

    }

}