@use '../base/variables' as *;
@use '../base/mixins' as *;

$mainImg-map: map-get($innerBoxSize,"main");

.mainImg{
    @include boxSizeSet(100%,590px);

    .#{map-get($mainImg-map, "name")}{
        width: map-get($mainImg-map, "width");
        height: map-get($mainImg-map, "height");
        @include absolutePosition(150px,0px,null,0px);
        margin:  0 auto;
    }
}