@use './var' as *;

@mixin boxSet($w : null, $h : null){
    @if $w != null{
        width: $w;
    }
    @if $h != null {
        height: $h;
    }
}

@mixin colorSet($options: ()){ 
    @if map-has-key($options, background-color) {
        background-color: map-get($options, background-color);
    }
    @if map-has-key($options, color) {
        color: map-get($options, color);
    }
    @if map-has-key($options, opacity) {
        opacity: map-get($options, opacity);
    }
}

@mixin margin($values...){
    margin: $values;
}

@mixin padding($values...){
    padding: $values;
}

@mixin positionSet($type: null, $top: null, $right: null, $bottom: null, $left: null){
    position: $type;

    @if $top != null{
        top: $top;
    }
    @if $right != null{
        right: $right;
    }
    @if $bottom != null{
        bottom: $bottom;
    }
    @if $left != null{
        left: $left;
    }
}