@use './var' as *;

@mixin boxSet($w : null, $h : null){
    @if $w != null{
        width: $w;
    }
    @if $h != null {
        height: $h;
    }
}

@mixin colorSet($background-color : null, $color : null){
    @if $background-color != null{
        background-color: $background-color;
    }

    @if $color != null{
        color: $color;
    }
}

@mixin margin($values...) {
    margin: $values;
}

@mixin positionSet($type: null, $top: null, $right: null, $bottom: null, $left: null) {
    position: $type;

    @if $top != null {
        top: $top;
    }
    @if $right != null {
        right: $right;
    }
    @if $bottom != null {
        bottom: $bottom;
    }
    @if $left != null {
        left: $left;
    }
}