@mixin boxSizeSet($w : null, $h : null){
    @if $w != null{
        width: $w;
    }

    @if $h != null{
        height: $h;
    }
}

@mixin marginSet($var : 0 auto){
    margin : $var;
}

@mixin paddingSet($var : 0px){
    padding : $var;
}

@mixin positionSet($t : null, $r : null, $b : null, $l : null){
    @if $t != null{
        top : $t;
    }

    @if $r != null{
        right : $r;
    }

    @if $b != null{
        bottom : $b;
    }

    @if $l != null{
        left : $l;
    }
}
