@use "./variables" as *;

@mixin boxSizeSet($w, $h){
    @if $w != null{
        width: $w;
    }
    @if $h != null{
        height: $h;
    }
}

@mixin absolutePosition($top : null , $right : null, $bottom : null, $left : null){
    position: absolute;

    @if $top != null{
        top : $top;
    }

    @if $right != null{
        right : $right;
    }

    @if $bottom != null{
        bottom : $bottom;
    }

    @if $left != null{
        left : $left;
    }
}

@mixin liStyle{
    display: inline;
    a{
        text-decoration: none;
        color: black;
        &:hover{
            color: blue;
        }
    }
}

@mixin articleSet($i){
    $data: nth($images_gallery, $i);
  
    article:nth-of-type(#{$i}){
        width: nth($data, 1);
        height: nth($data, 2);
        float: left;
        position: relative;
        margin-top: 10px;
        @if $i == 1{
            margin-right: 10px;
        }
        @if $i == 5{
            margin-left: 10px;
            float: right;
        }
    }
}

