@mixin boxSizeSet($w : null, $h : null){
    @if $w != null{
        width: $w;
    }

    @if $h != null{
        height: $h;
    }
}

@mixin marginSet($var : 0 auto){
    margin : $var;
}

@mixin paddingSet($var : 0px){
    padding : $var;
}
