@use 'var' as *;
@use 'mix' as *;

*{
    margin: $resetMargin;
    padding: $resetPadding;
    box-sizing: border-box;
}

body{
    font-family: $resetFontFamily;
}

@each $i in $semanticTagList{
    #{$i}{
        @include boxSizeSet($semanticTagWidth);

        .innerBox{
            @include boxSizeSet($innerBoxWidth);
            @include marginSet($innerBoxMargin);
            position: $innerBoxPosition;
        }
    }
}

p{
    line-height: $p-lineHeight;
}

ul{
    position: $ul-position;
    list-style: $ul-listStyle;
}

a{
    color: $a-color;
    text-decoration: $a-textDecoration;

    &:hover{
        color: $a-hoverColor;
    }
}

h1{
    position: $h1-position;
}