@use 'var' as *;

*{
    margin: $resetMargin;
    padding: $resetPadding;
    box-sizing: border-box;
}

body{
    font-family: $fontFamily;
}

@each $i in $semanticTagList{
    #{$i}{
        width: $semanticTagWidth;
    }
}