$bodyFontStyle : "verdana", "Geneva", sans-serif;

$colors: (
    "wh" : #ffffff,
    "bl" : #000000,
    "link_hover" : #0000ff,
    "gold" : #FFD400
);

$innerBoxSize:(
    "header":(
        "name" : headerInnerBox,
        "width" : 1180px,
        "height" : 120px
    ),

    "main":(
        "name" : mainInnerBox,
        "width" : 800px,
        "height" : 300px
    ),

    "footer":(
        "name" : footerInnerBox,
        "width" : 1000px,
        "height" : 100px
    )
);