$font-family : verdana, geneva, sans-serif;

$SemanticTag-wigth : 100%;
$innerBox-wigth : 1180px;
$innerBox-height : 120px;


$font-sizeList : (
    "font-12" : 12px,
    "font-16" : 16px,
    "font-32" : 32px,
    "font-60" : 60px
);

$colorList : (
    "headerLayoutColor" : white
);