$bodyFontStyle : "Verdana", "Geneva", sans-serif;

$colors: (
    "wh" : #ffffff,
    "bl" : #000000,
    "link_hover" : #0000ff,
    "gold" : #FFD400
);

$innerBoxSize:(
    "header":(
        "name" : headerInnerBox,
        "width" : 1180px,
        "height" : 120px
    ),

    "main":(
        "name" : mainInnerBox,
        "width" : 800px,
        "height" : 300px
    ),

    "footer":(
        "name" : footerInnerBox,
        "width" : 1000px,
        "height" : 100px
    )
);

$images_gallery:(
    (700px,400px),
    (290px,190px),
    (290px,95px),
    (290px,95px),
    (500px,490px),
    (490px,240px),
    (490px,240px),
    (1000px,371px),
    (1000px,361px)
);

$gallery_p_position:(
    (1,null,10px,20px,null),
    (1,50px,null,null,10px),
    (1,null,10px,20px,null),
    (0),
    (0),
    (1,160px,null,null,90px),
    (1,null,20px,30px,null),
    (1,165px,null,null,160px)
);